@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

:root {
  --primary-bright-blue: #3a7bfd;
  --primary-check-bg: linear-gradient(#57ddff, #c058f3);
  --very-light-gray: #fafafa;
  --very-light-grayish-blue: #e4e5f1;
  --very-light-grayish-blue-hover: #f0f1f6;
  --light-grayish-blue: #d2d3db;
  --Dark-grayish-blue: #9394a5;
  --very-dark-grayish-blue: #484b6a;
  --very-dark-blue: #161722;
  --very-dark-desaturated-blue: #25273c;
  --light-grayish-blue: #cacde8;
  --light-grayish-blue-hover: #e4e5f1;
  --dark-grayish-blue-1: #777a92;
  --very-dark-grayish-blue-1: #4d5066;
  --very-dark-grayish-blue-2: #393a4c;
  --placeholder-color: #9495a5; }

body {
  font-family: "Josefin Sans", sans-serif;
  background: url("../images/bg-mobile-light.jpg");
  background-color: var(--very-light-grayish-blue);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 2.4rem; }
  @media only screen and (min-width: 588px) {
    body {
      background: url("../images/bg-desktop-light.jpg");
      background-color: var(--very-light-grayish-blue);
      background-repeat: no-repeat;
      background-size: 100%; } }

::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.01rem;
  color: var(--placeholder-color); }

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.8rem;
  transition: margin-top 0.3s ease-out; }
  @media only screen and (min-width: 588px) {
    .heading {
      margin: 0 auto;
      margin-top: 7rem;
      max-width: 588px; } }
  @media only screen and (min-width: 1441px) {
    .heading {
      margin-top: 15rem; } }
  .heading h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    color: var(--very-light-gray); }

.main {
  margin-top: 3rem; }
  @media only screen and (min-width: 588px) {
    .main {
      margin: 0 auto;
      margin-top: 4rem;
      max-width: 588px; } }
  .main .todo-input {
    display: flex;
    align-items: center;
    background-color: var(--very-light-gray);
    padding: 1.4rem 2rem;
    width: 100%;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 0.5rem; }
    .main .todo-input.active {
      background-color: #ffc4c4; }
@keyframes shake-horizontal {
  0%,
      100% {
    transform: translateX(0); }
  10%,
      30%,
      50%,
      70% {
    transform: translateX(-10px); }
  20%,
      40%,
      60% {
    transform: translateX(10px); }
  80% {
    transform: translateX(8px); }
  90% {
    transform: translateX(-8px); } }
    .main .todo-input .add-todo {
      font-family: inherit;
      border: none;
      width: 100%;
      padding: 0.4rem;
      outline-color: #c058f3;
      background-color: var(--very-light-gray);
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: -0.01rem; }
      .main .todo-input .add-todo.active {
        background-color: #ffc4c4; }
  .main .todo-item-container {
    margin-top: 1.6rem;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5); }
    .main .todo-item-container .todo-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem 2rem;
      background-color: var(--very-light-gray);
      border-bottom: 1px solid var(--light-grayish-blue);
      transition: background-color 0.2s ease-in-out; }
      .main .todo-item-container .todo-item:hover {
        background-color: var(--very-light-grayish-blue-hover); }
      .main .todo-item-container .todo-item:hover > figure {
        display: block; }
      .main .todo-item-container .todo-item:first-of-type {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem; }
      .main .todo-item-container .todo-item-check {
        display: flex;
        align-items: center; }
        .main .todo-item-container .todo-item-check .checkmark {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--light-grayish-blue);
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          position: relative; }
          .main .todo-item-container .todo-item-check .checkmark.active {
            background: #c058f3;
            background: linear-gradient(335deg, #c058f3 35%, #57ddff 100%); }
          .main .todo-item-container .todo-item-check .checkmark-check {
            display: none; }
      .main .todo-item-container .todo-item-text {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin-left: 1.2rem;
        letter-spacing: 0.01rem;
        color: var(--very-dark-blue); }
        .main .todo-item-container .todo-item-text.strike {
          color: var(--Dark-grayish-blue) !important;
          text-decoration: line-through; }
      .main .todo-item-container .todo-item .delete-todo {
        cursor: pointer;
        transition: transform 0.1s ease-in; }
        .main .todo-item-container .todo-item .delete-todo:hover {
          transform: scale(1.3, 1.3); }
        .main .todo-item-container .todo-item .delete-todo img {
          width: 1.4rem;
          height: 1.4rem; }

.footer .left-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2rem;
  background-color: var(--very-light-gray);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  margin-bottom: 1.6rem; }
  @media only screen and (min-width: 588px) {
    .footer .left-completed {
      display: none; } }
  .footer .left-completed .footer-items {
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.01rem;
    color: var(--placeholder-color); }
  .footer .left-completed .footer-clear {
    cursor: pointer;
    transition: font-weight 0.1s ease-in; }
.footer .footer-active-container {
  background-color: var(--very-light-gray);
  border-radius: 0.5rem; }
  @media only screen and (min-width: 588px) {
    .footer .footer-active-container {
      display: none; } }
  .footer .footer-active-container .footer-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 16.6rem;
    padding: 1.5rem 0; }
  .footer .footer-active-container .footer-active-text {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.01rem;
    color: var(--placeholder-color);
    transition: color 0.2s ease-in; }
  .footer .footer-active-container .footer-active-text:hover {
    color: var(--primary-bright-blue); }
.footer .drag {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  margin-top: 4rem;
  color: var(--placeholder-color); }
  @media only screen and (min-width: 588px) {
    .footer .drag {
      margin-right: 4.5rem; } }
.footer .resize-footer-items-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.4rem;
  background-color: var(--very-light-gray);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }
  @media only screen and (min-width: 588px) {
    .footer .resize-footer-items-container {
      display: flex; } }
  .footer .resize-footer-items-container .resize-footer-active {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.6rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.01rem;
    color: var(--placeholder-color);
    transition: color 0.2s ease-in; }
  .footer .resize-footer-items-container .resize-footer-active-text:hover {
    color: var(--primary-bright-blue); }
  .footer .resize-footer-items-container .resize-footer-items {
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.01rem;
    color: var(--placeholder-color); }
    @media only screen and (min-width: 588px) {
      .footer .resize-footer-items-container .resize-footer-items {
        font-size: 1.4rem;
        line-height: 1.4rem; } }
  .footer .resize-footer-items-container .resize-footer-clear {
    cursor: pointer;
    transition: color 0.2s ease-out; }

/*# sourceMappingURL=app.css.map */
