body {
    font-family: "Josefin Sans", sans-serif;
    background: url("../images/bg-mobile-light.jpg");
    background-color: var(--very-light-grayish-blue);
    background-repeat: no-repeat;
    background-size: cover;
  }
  