.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.8rem;

  & h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    color: var(--very-light-gray);
  }
}

.main {
  margin-top: 4rem;

  .todo-input {
    display: flex;
    align-items: center;
    background-color: var(--very-light-gray);
    padding: 1.4rem 2rem;
    width: 100%;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 0.5rem;

    .add-todo {
      border: none;
      width: 100%;
      padding: .4rem;
    }
  }
}
