.footer {
  .left-completed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
    background-color: var(--very-light-gray);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    margin-bottom: 1.6rem;

    @media only screen and (min-width: 588px) {
      display: none;
    }

    .footer-items {
      font-size: 1.2rem;
      line-height: 1.2rem;
      letter-spacing: -0.01rem;
      color: var(--placeholder-color);
    }

    .footer-clear {
      cursor: pointer;
      transition: font-weight 0.1s ease-in;

      &:active {
        color: var(--very-dark-desaturated-blue);
      }
    }
  }

  .footer-active-container {
    background-color: var(--very-light-gray);
    border-radius: 0.5rem;

    @media only screen and (min-width: 588px) {
      display: none;
    }

    .footer-active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 16.6rem;
      padding: 1.5rem 0;
    }

    .footer-active-text {
      cursor: pointer;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: 0.01rem;
      color: var(--placeholder-color);
      transition: color 0.2s ease-in;

      &.active {
        color: var(--primary-bright-blue);
      }

      &:active {
        color: var(--very-dark-desaturated-blue);
      }
    }
  }
  .drag {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    margin-top: 4rem;
    color: var(--placeholder-color);

    @media only screen and (min-width: 588px) {
      margin-right: 4.5rem;
    }
  }

  .resize-footer-items-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;
    background-color: var(--very-light-gray);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    @media only screen and (min-width: 588px) {
      display: flex;
    }

    .resize-footer-active {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 16.6rem;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: 0.01rem;
      color: var(--placeholder-color);
      transition: color 0.2s ease-in;

      &-text {
        transition: color 0.2s ease-in;
        &.active {
          color: var(--primary-bright-blue);
        }

        &:active {
          color: var(--very-dark-desaturated-blue);
        }
      }
    }

    .resize-footer-items {
      font-size: 1.2rem;
      line-height: 1.2rem;
      letter-spacing: -0.01rem;
      color: var(--placeholder-color);

      @media only screen and (min-width: 588px) {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
    }

    .resize-footer-clear {
      cursor: pointer;
      transition: color 0.2s ease-out;

      &:active {
        color: var(--very-dark-desaturated-blue);
      }
    }
  }
}
